.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 8px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo
.logo-img {
    max-width: 200px;
}

// Menu
.site-wrap {
    display: flex;
    align-items: center;
    height: var(--default-layout-header-height);
}

// Search
.search {
    position: relative;
    height: 100%;
    width: 570px;
    
    input {
        height: 100%;
        width: 94%;
        padding-right: 70px;
        font-size: 1.6rem;
        border: none;
        outline: none;
        color: var(--text-color);

    }

    &::after {
        content: "";
        bottom: 21px;
        left: 0;
        position: absolute;
        width: 97%;
        height: 1px;
        background-color: var(--text-color);
    }
}


.close {
    border: none;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: transparent;
    
    &:hover {
        cursor: pointer;
        color: var(--black);
    }
}


