.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 5px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family);
  min-width: 45px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  user-select: none;

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 4px;
}

.title {
  white-space: nowrap;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button Types

.primary {
  color: #121823;
  font-weight: 500;
  background-color: #F8F9FA;
}

.search {
  color: var(--white);
  background-color: var(--search-color);
}


.text {
  &:hover {
    text-decoration: underline;
  }
}

.menuItem {
  padding: 12px 5px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-menu);
  border-bottom: 1px solid #f5f4f4;
  text-align: left;
  display: block;
  border-radius: 0;

  &:hover {
    color: var(--black);
  }
}

.sliderBtn {
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--white);
  padding: 20px 40px;
}

.enlarge {
  transition: transform 0.3s ease;
}

.enlarge:hover {
  transform: scale(1.1);
}

.headerMenu {
  color: var(--black);
  cursor: default;
}

.slideIcon {
  color: var(--text-menu);
  background-color: unset;
  font-size: 4rem;
  font-weight: 300;
  padding: 0px 20px;

  &:hover{
    cursor: pointer;
  }  
}


// size 

.medium {
  padding: 10px 40px;
  font-size: 3rem;
}