.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 5px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family);
  min-width: 50px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  user-select: none;

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 4px;
}

.title {
  white-space: nowrap;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button Types


.primary {
  color: var(--black);
  background-color: var(--primary);
  border-color: var(--primary);
}

.search {
  color: var(--white);
  background-color: var(--search-color);
}


.text {
  &:hover {
    text-decoration: underline;
  }
}


.menuItem {
  padding: 12px 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-menu);
  border-bottom: 1px solid #f5f4f4;
  text-align: left;
  display: block;

  &:hover {
    color: var(--black);
  }
}
// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}

.enlarge {
  transition: transform 0.3s ease;
}

.enlarge:hover {
  transform: scale(1.1);
}

.headerMenu {
  color: black;
  cursor: default;
}
