@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;300;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --text-color: #827f7f;
  --primary: #f18e7d;
  --white: #ffff;
  --black: #000;
  --text-menu: #606775;
  --search-color: #121823;
  --default-layout-header-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
  list-style: none;
}
